# deps
node_modules
.pnp
.pnp.js

# build
dist
dist-ssr
*.local

# env — NUNCA subir al repo
.env
.env.local
.env.*.local

# editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# logs
*.log
npm-debug.log*
